html, body {
	background-color: #fff;
	color: #000;
	margin: 0;
	padding: 0;
	text-align: center;
    
}

header {
	background-color: rgb(101, 101, 235);
    font-size: 25px;
    font-weight: bold;
	width: 880px;
}
#lewy {
	width: 350px;
	height: 350px;
	float: left;
	overflow: hidden;
	background-color: rgb(192, 192, 238);
    
}

#prawy {
	width: 530px;
	height: 350px;
	float: left;
	overflow: hidden;
	background-color: rgb(221, 221, 241);
    
}
footer {
	clear: both;
	width: 880px;
	background-color: rgb(101, 101, 235);
}